<div class="main-container">
  <app-navbar></app-navbar>
    <!-- Sección ¿Quiénes somos? -->
    <section class="about-us">
      <h2>¿Quiénes Somos?</h2>
      <p>
        Somos una empresa dedicada a ofrecer soluciones de transporte y suministro de
        materiales para diferentes sectores. Nuestro compromiso es proporcionar un
        servicio de calidad.
      </p>
    </section>
  
    <!-- Sección Nuestros Servicios -->
    <section class="services">
      <h2>Nuestros Servicios</h2>
      <div class="service-cards">
        <div class="service-card">
          <img src="assets/transport.jpg" alt="Transporte de Materiales" />
          <h3>Transporte de Materiales</h3>
          <p>Ofrecemos servicios de transporte de materiales como arena, grava, cemento, y otros productos para construcción.</p>
        </div>
        <div class="service-card">
          <img src="assets/logistics.jpg" alt="Logística de Entregas" />
          <h3>Logística de Entregas</h3>
          <p>Gestionamos la entrega eficiente de tus materiales a través de nuestras volquetas y mulas.</p>
        </div>
        <div class="service-card">
          <img src="assets/consulting.jpg" alt="Consultoría de Transporte" />
          <h3>Consultoría de Transporte</h3>
          <p>Brindamos asesoría sobre las mejores rutas de transporte, optimizando tiempos y costos en cada entrega.</p>
        </div>
      </div>
    </section>

    <!-- Contactenos -->
    <section class="contac-us">
        <h2>Contactenos</h2>
        <p>
          Para más información 
        </p>
      </section>
      <app-footer></app-footer>
  </div>
  