/* Estilos generales */
.main-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Sección ¿Quiénes somos? */
  .about-us {
    background-color: #ffffff;
    padding: 50px 20px;
    text-align: center;
  
  }
  
  .about-us h2 {
    color: #f47c00;
    font-size: 36px;
    font-weight: bold;
  }
  
  .about-us p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
  }
  
 /* Sección Contactenos */
.contac-us {
  background-color: #ffffff;
  padding: 50px 20px;
  text-align: center;
}

.contac-us h2 {
  color: #f47c00;
  font-size: 36px;
  font-weight: bold;
}

.contac-us p {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
}

/* Estilo para el botón de WhatsApp */
.whatsapp-btn {
  display: inline-flex;
  align-items: center;
  background-color: #25D366;  
  color: white;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
  margin-top: 20px;
}

.whatsapp-btn i {
  margin-right: 10px; 
}

.whatsapp-btn:hover {
  background-color: #128C7E;  
  transition: background-color 0.3s ease;
}


.carousel-inner img {
  object-fit: cover; 
  height: 400px;       
}

/* Estilo de los captions */
.carousel-caption {
  background-color: #00000080;  
  color: #ffffff;               
  border-radius: 5px;
  padding: 15px;                
  margin-top: 20px;             
}

/* Estilos de la sección de servicios */

.services h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;  
  font-weight: bold;
}
/* Sección de Servicios */
.services {
  padding: 50px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #4b4a4ab3, #e67d22bd,#e67d221c);
  /* background-color: #d77c0c9d;*/ 

}

.carousel-item {
  position: relative;
}

.carousel-item img {
  width: 80%;           
  max-width: 900px;     
  max-height: 400px;        
  object-fit: contain;  
  margin: 0 auto;       
  display: block;       
}
.carousel-caption h5 {
  font-size: 24px;  
}

.carousel-caption p {
  font-size: 16px; 
}
