<div class="main-container">
  <app-navbar></app-navbar>
    <!-- Sección ¿Quiénes somos? -->
    <section class="about-us" id="quienes-somos">
      <h2>¿Quiénes Somos?</h2>
      <div class="about-us-content">
        <!-- Imagen a la izquierda -->
        <div class="about-us-img-container">
          <img src="assets/images/quienes_somos/persona.png" class="about-us-img" alt="Transporte de Materiales">
        </div>
        
        <!-- Texto a la derecha -->
        <div class="about-us-description">
          <p>
            Somos una empresa dedicada a ofrecer soluciones de transporte y suministro de
            materiales para diferentes sectores. Nuestro compromiso es proporcionar un
            servicio de calidad.
          </p>
          <h1>¡Contamos con más de 20 años de experiencia en el mercado!</h1>
        </div>
      </div>
    </section>
    
  
<section class="services" id="nuestros-servicios">
  <h2>Nuestros Servicios</h2>

  <div id="servicesCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

      <!-- Primer item del carrusel -->
      <div class="carousel-item active">
        <img src="assets\images\nuestros_servicios\Ripio.jpg" class="d-block w-100" alt="Transporte de Materiales">
        <div class="carousel-caption d-none d-md-block">
          <h5>Transporte de Materiales</h5>
          <p>Ofrecemos servicios de transporte de materiales como arena, grava, cemento, y otros productos para construcción.</p>
        </div>
      </div>

      <!-- Segundo item del carrusel -->
      <div class="carousel-item">
        <img src="assets\images\nuestros_servicios\volqueta.jpeg" class="d-block w-100" alt="Logística de Entregas">
        <div class="carousel-caption d-none d-md-block">
          <h5>Logística de Entregas</h5>
          <p>Gestionamos la entrega eficiente de tus materiales a través de nuestras volquetas y mulas.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets\images\nuestros_servicios\Ruta.jpg" class="d-block w-100" alt="Consultoría de Transporte">
        <div class="carousel-caption d-none d-md-block">
          <h5>Consultoría de Transporte</h5>
          <p>Brindamos asesoría sobre las mejores rutas de transporte, optimizando tiempos y costos en cada entrega.</p>
        </div>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#servicesCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#servicesCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

    <!-- Contactenos -->
    <section class="contac-us" id="contactenos">
        <h2>Contáctenos</h2>
        <p>Si necesitas más información, ¡no dudes en contactarnos! Haz clic en el siguiente botón para chatear con nosotros por WhatsApp.</p>
        <a href="https://wa.me/+593964018301" target="_blank" class="whatsapp-btn">
            <i class="fab fa-whatsapp"></i> ¡Escríbenos por WhatsApp!
        </a>
      </section>
      <app-footer></app-footer>
  </div>
  