<div class="main-container">
  <app-navbar></app-navbar>
   <!-- Quienes Somos -->
  <section class="about-us" id="quienes-somos">
  <h2>Sobre Nosotros</h2>
  <div class="about-us-content">
   
    <div class="about-us-img-container">
      <img src="assets/images/quienes_somos/persona.png" class="about-us-img" alt="Transporte de Materiales">
    </div>
    <div class="about-us-description">
      <p>
        Somos una empresa dedicada a ofrecer soluciones de transporte y suministro de
        materiales para diferentes sectores. Nuestro compromiso es proporcionar un
        servicio de calidad.
      </p>
      <h1>¡Contamos con más de 20 años de experiencia en el mercado!</h1>
    </div>
  </div>
  </section>
  <section class="services" id="nuestros-servicios">
  <h2>Nuestros Servicios</h2>

  <!-- Carrusel de servicios -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    
    <!-- Indicadores del carrusel  -->
   <ul class="carousel-indicators list-unstyled">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ul>

    <!-- Los items del carrusel -->
    <div class="carousel-inner">
      <!-- Primer item del carrusel -->
      <div class="carousel-item active">
        <div class="service-card">
          <img src="assets/images/nuestros_servicios/Ripio.jpg" alt="Transporte de Materiales" class="service-img">
          <h3>Transporte de Materiales</h3>
          <p>Ofrecemos servicios de transporte de materiales como arena, grava, cemento, y otros productos para construcción.</p>
        </div>
      </div>

      <!-- Segundo item del carrusel -->
      <div class="carousel-item">
        <div class="service-card">
          <img src="assets/images/nuestros_servicios/volqueta.jpeg" alt="Logística de Entregas" class="service-img">
          <h3>Logística de Entregas</h3>
          <p>Gestionamos la entrega eficiente de tus materiales a través de nuestras volquetas y mulas.</p>
        </div>
      </div>

      <!-- Tercer item del carrusel -->
      <div class="carousel-item">
        <div class="service-card">
          <img src="assets/images/nuestros_servicios/Ruta.jpg" alt="Consultoría de Transporte" class="service-img">
          <h3>Consultoría de Transporte</h3>
          <p>Brindamos asesoría sobre las mejores rutas de transporte, optimizando tiempos y costos en cada entrega.</p>
        </div>
      </div>
    </div>

    <!-- Botones de control del carrusel -->
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </section>

    <!-- Contactenos -->
    <section class="contac-us" id="contactenos">
        <h2>Contáctenos</h2>
        <p>Si necesitas más información, ¡no dudes en contactarnos! Haz clic en el siguiente botón para chatear con nosotros por WhatsApp.</p>
        <a href="https://wa.me/+593964018301" target="_blank" class="whatsapp-btn">
            <i class="fab fa-whatsapp"></i> ¡Escríbenos por WhatsApp!
        </a>
      </section>
      <app-footer></app-footer>

  </div>
  
  