.dashboard-container {
  overflow-y: auto;
  max-height: 100vh;
  padding: 1rem;
 
}
.content {
  margin-left: 250px;
  padding: 10px;
  background-color: #f8f9fa;
  height: 100%;
}
.card {
  border-radius: 12px;
}

.card .card-header,
.card .card-title,
.card .card-text {
  color: white;
}

.dark-theme text {
  fill: #ffffff !important;
}

.dark-theme .tooltip {
  color: black !important;
}

.text-white {
  color: #ffffff !important;
}

.shadow {
  box-shadow: 0 4px 12px #00000047;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #e78b12;
  text-align: center;
  padding-bottom: 30px;
}

html, body {
  height: 100%;
  margin: 0;
}
.main-layout {
  height: 100vh;
  overflow: hidden;
}

.dashboard-container {
  overflow-y: auto;
}
.chart-container {
  min-height: 400px; /* O el alto que desees */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
::ng-deep .ngx-charts text.axis-label {
  fill: white !important;      /* Color de las etiquetas del eje X e Y */
  font-weight: bold;
}

::ng-deep .ngx-charts .tick text {
  fill: white !important;      /* Color de los números del eje */
}

/* Ejes y etiquetas del gráfico de barras */
::ng-deep .ngx-charts text.axis-label .ng-reflect-label {
  fill: white !important;         /* “Mes”, “Cotizaciones” */
  font-size: 16px;
  font-weight: bold;
}

::ng-deep .ngx-charts .tick text {
  fill: white !important;         /* Números de los ejes */
}

/* Etiquetas dentro del gráfico de pastel */
::ng-deep .ngx-charts text.pie-label {
  fill: white !important;         /* “Jurídica”, “Natural” en el doughnut */
  font-size: 14px;
}

/* Leyenda del gráfico de pastel */
::ng-deep .ngx-charts .legend-label-text {
  fill: white !important;         /* “Legend”, “Jurídica”, “Natural” */
  font-size: 14px;
}

/* Números de los ejes */
::ng-deep .ngx-charts .tick text {
  fill: white !important;
  font-size: 13px;
}
.card {
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px #00000065; /* sombra base */
}

.card:hover {
  transform: scale(1.05); /* efecto de zoom */
  box-shadow: 0 10px 25px #0000004d; /* sombra más intensa al hacer hover */
  cursor: pointer;
}
