<nav class="navbar navbar-expand-lg navbar-dark bg-orange">
  <div class="container-fluid">
    <!-- Nombre de la empresa -->
    <h1>Rivera</h1>

    <!-- Menú de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active">Inicio</a>
          <a class="nav-link" routerLink="/quienes-somos" routerLinkActive="active">¿Quiénes Somos?</a>
          <a class="nav-link" routerLink="/nuestros-servicios" routerLinkActive="active">Nuestros Servicios</a>
          <a class="nav-link" routerLink="/contactenos" routerLinkActive="active">Contáctenos</a>
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <i class="fa fa-user"></i> 
          </a>
      </ul>
    </div>
  </div>
</nav>
