:host {
display: flex;
justify-content: center;
align-items: center;
height: 100vh; 
background-color: #f47a00d7;
}

.login-card {
background-color: #ffffffe8;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
width: 100%;
max-width: 400px;
padding: 30px;
}

.login-card input {
border-radius: 4px;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.login-card button {
background-color: #ff7f00;
color: white;
font-weight: bold;
border-radius: 4px;
padding: 10px;
transition: background-color 0.3s ease;
border-color: #ff7c02;
border-style: solid;
}

.login-card button:hover {
background-color: #e06d00;
}

.bi-person-fill {
  width: 70px;
  height: 70px;
  fill: #f47c00;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.3));
}

.nav-link {
  color: #f47a008e;
  text-decoration: underline;
  font-weight: normal;
  transition: color 0.3s ease;
  padding-top: 7px;
  padding-right: 0;
  max-width: fit-content;
}

.btn.btn-warning{
  margin-bottom: 10px;
}

.alert.alert-danger{
  padding: 3px;
  border-radius: 0px;
  text-align: center;
}