<app-sidebar></app-sidebar>

<div class="content">
  <div class="container mt-5">
    <h2 class="text-center mb-4">Gestión de Materiales</h2>

    <div class="d-flex mb-3">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoMaterialesModal">+ Nuevo Material</button>
        <button class="btn btn-success" (click)="exportarAExcel()"> XLS</button>
        <input 
          class="form-control w-25" 
          type="text" 
          placeholder="Buscar Material..." 
          [(ngModel)]="searchQuery" 
          (ngModelChange)="filterMateriales()"
        />
      </div>

    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Costo sin IVA</th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materiales of paginatedMateriales">
          <td>{{ materiales.codigo }}</td>
          <td>{{ materiales.nombre }}</td>
          <td>{{ materiales.costoSinIva | currency }}</td>
          <td>{{ materiales.tipo }}</td>
          <td>
            <button class="btn btn-info btn-sm" (click)="editMateriales(materiales)">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteMateriales(materiales)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
<div class="d-flex justify-content-between align-items-center mt-3">

<nav>
  <ul class="pagination m-0">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">Anterior</button>
    </li>
    <li class="page-item" *ngFor="let page of visiblePages" [class.active]="currentPage === page">
      <button class="page-link" (click)="currentPage = page">{{ page }}</button>
    </li>
    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">Siguiente</button>
    </li>
  </ul>
</nav>



  </div>
</div>

<!-- Modal Nuevo material -->
<div class="modal fade" id="nuevoMaterialesModal" tabindex="-1" aria-labelledby="nuevoMaterialesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nuevoMaterialesModalLabel">Nuevo Material</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #nuevoMaterialesForm="ngForm" (ngSubmit)="addMateriales(nuevoMaterialesForm)" >

          <!-- Código-->
          <div class="mb-3">
            <label for="codigo" class="form-label">Código</label>
            <input type="text"
                  class="form-control"
                  id="codigo"
                  name="codigo"
                  [(ngModel)]="nuevoMateriales.codigo"
                  pattern="^[0-9]+$"
                  (keydown)="validateCodigo($event)"
                  maxlength="5"
                  required
                  #codigo="ngModel">
            <div *ngIf="codigo.invalid && codigo.touched" class="text-danger">
              <div *ngIf="codigo.errors?.['required']">Este campo es obligatorio.</div>
            </div>
          </div>
          <!-- Nombre-->
          <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text"
                    class="form-control"
                    id="nombre"
                    name="nombre"
                    [(ngModel)]="nuevoMateriales.nombre"
                    maxlength="50"
                    required
                    #nombre="ngModel">
              <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
                <div *ngIf="nombre.errors?.['required']">Este campo es obligatorio.</div>
              </div>
            </div>
          <!-- Costo-->
            <div class="mb-3">
                <label for="costo" class="form-label">Costo sin IVA</label>
                <input type="text"
                      class="form-control"
                      id="costo"
                      name="costo"
                      [(ngModel)]="nuevoMateriales.costoSinIva"
                      pattern="^\d+(\.\d{1,2})?$"
                      (keydown)="validateCosto($event)"
                      required
                      #costo="ngModel">
                <div *ngIf="costo.invalid && costo.touched" class="text-danger">
                  <div *ngIf="costo.errors?.['required']">Este campo es obligatorio.</div>
                </div>
              </div>
              <!-- Tipo (select obligatorio) -->
              <div class="mb-3">
                <label for="tipo" class="form-label">Tipo</label>
                <select class="form-select"
                        id="tipo"
                        name="tipo"
                        [(ngModel)]="nuevoMateriales.tipo"
                        required
                        #tipo="ngModel">
                  <option value="" disabled selected>Seleccione un tipo...</option>
                  <option value="Transporte">Transporte</option>
                  <option value="Arena">Arena</option>
                  <option value="Ripio">Ripio</option>
                  <option value="Cascajo">Cascajo</option>
                  <option value="Piedra 3/4">Piedra 3/4</option>
                  <option value="Piedra Chispa">Piedra Chispa</option>
                  <option value="Cisco">Cisco</option>
                  <option value="Piedra Base">Piedra Base</option>
                  <option value="Lavado de Carro">Lavado de Carro</option>
                  <option value="Respuesto para Volqueta">Respuesto para Volqueta</option>
                  <option value="Combustible">Combustible</option>
                  <option value="Arcilla">Arcilla</option>
                  <option value="Sub Base">Sub Base</option>
                </select>
                <div *ngIf="tipo.invalid && tipo.touched" class="text-danger">
                  <div *ngIf="tipo.errors?.['required']">Debe seleccionar un tipo.</div>
                </div>
              </div>
          <button type="submit" class="btn btn-success w-100" [disabled]="!nuevoMaterialesForm.valid">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Editar material -->
<div class="modal fade" id="editMaterialesModal" tabindex="-1" aria-labelledby="editMaterialesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMaterialesModalLabel">Editar Material</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateMateriales()" #editMaterialesForm="ngForm">
          <div class="mb-3">
            <label for="codigo" class="form-label">Código</label>
            <input type="text" 
                   class="form-control" 
                   id="codigo" 
                   [(ngModel)]="selectedMateriales.codigo" 
                   name="codigo" 
                   disabled 
                   required 
                   maxlength="5" 
                   pattern="^[0-9]+$"
                   (keydown)="validateCodigo($event)" />
          </div>
          <!-- Nombre-->
          <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text"
                    class="form-control"
                    id="nombre"
                    name="nombre"
                    [(ngModel)]="selectedMateriales.nombre"
                    maxlength="50"
                    required
                    #nombre="ngModel">
              <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
                <div *ngIf="nombre.errors?.['required']">Este campo es obligatorio.</div>
              </div>
            </div>
          <!-- Costo-->
            <div class="mb-3">
                <label for="costo" class="form-label">Costo sin IVA</label>
                <input type="text"
                      class="form-control"
                      id="costo"
                      name="costo"
                      [(ngModel)]="selectedMateriales.costoSinIva"
                      pattern="^\d+(\.\d{1,2})?$"
                      (keydown)="validateCosto($event)"
                      required
                      #costo="ngModel">
                <div *ngIf="costo.invalid && costo.touched" class="text-danger">
                  <div *ngIf="costo.errors?.['required']">Este campo es obligatorio.</div>
                </div>
              </div>
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-select" id="tipo" [(ngModel)]="selectedMateriales.tipo" name="tipo" required>
              <option value="" disabled selected>Seleccione un tipo...</option>
              <option value="Transporte">Transporte</option>
              <option value="Arena">Arena</option>
              <option value="Ripio">Ripio</option>
              <option value="Cascajo">Cascajo</option>
              <option value="Piedra 3/4">Piedra 3/4</option>
              <option value="Piedra Chispa">Piedra Chispa</option>
              <option value="Cisco">Cisco</option>
              <option value="Piedra Base">Piedra Base</option>
              <option value="Lavado de Carro">Lavado de Carro</option> 
              <option value="Respuesto para Volqueta">Respuesto para Volqueta</option> 
              <option value="Combustible">Combustible</option>
              <option value="Arcilla">Arcilla</option> 
              <option value="Sub Base">Sub Base</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!editMaterialesForm.valid">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Operación Exitosa</h5>
      </div>
      <div class="modal-body text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill animate-check" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        <h4>Material Guardado Exitosamente</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal de Confirmación de Eliminación de Material -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmationLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body text-center">
        <p>¿Está seguro que desea eliminar este material?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-si" (click)="confirmDeleteMaterial()">Sí</button>
        <button type="button" class="btn btn-no" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de eliminado-->
 <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Material Eliminado</h5>
      </div>
      <div class="modal-body text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill animate-check" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        <h4>Material Eliminado con Éxito</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>