<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/cliente" routerLinkActive="active">
        Clientes
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/materiales" routerLinkActive="active">Materiales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/cotizacion" routerLinkActive="active">Cotización</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pedido" routerLinkActive="active">Pedidos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="toggleVolquetasMenu()">
        Volquetas<i class="fas fa-caret-down"></i>
      </a>
      <div class="collapse" [ngClass]="{'show': isVolquetasMenuOpen}">
        <li><a class="nav-link" routerLink="/registro-volqueta" routerLinkActive="active">Registro</a></li>
        <li><a class="nav-link" routerLink="/reporte-diario" routerLinkActive="active">Reporte Diario</a></li>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/factura" routerLinkActive="active">
        Facturas
      </a>
    </li>
    <!-- Enlace para abrir el modal de cierre de sesión -->
    <li class="nav-item">
      <a class="nav-link" (click)="openLogoutModal()">
        Cerrar Sesión
      </a>
    </li>
  </ul>
</div>

<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutModalLabel">Confirmar Cierre de Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        ¿Está seguro que desea cerrar sesión?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" dara-bs-dismiss="modal" (click)="logout()">Sí</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
