<app-sidebar></app-sidebar>

<div class="content">
  <div class="container mt-5">
    <h2 class="text-center mb-4">Gestión de Clientes</h2>

    <div class="mb-4 d-flex justify-content-center flex-wrap gap-3 resumen-tipos">
      <div class="card-resumen" [class.activo]="filtroTipo === 'Natural'" (click)="filtrarPorTipo('Natural')">
        <i class="bi bi-check-circle text-success fs-5"></i>
        <div class="texto">
          <div class="titulo">Naturales</div>
          <div class="cantidad">{{ clientesNaturales.length }}</div>
        </div>
      </div>

      <div class="card-resumen" [class.activo]="filtroTipo === 'Jurídica'" (click)="filtrarPorTipo('Jurídica')">
        <i class="bi bi-hourglass-split text-warning fs-5"></i>
        <div class="texto">
          <div class="titulo">Jurídicos</div>
          <div class="cantidad">{{ clientesJuridicos.length }}</div>
        </div>
      </div>

      <div class="card-resumen" [class.activo]="!filtroTipo" (click)="filtrarPorTipo('')">
        <i class="bi bi-list-ul text-secondary fs-5"></i>
        <div class="texto">
          <div class="titulo">Todos</div>
          <div class="cantidad">{{ clientes.length }}</div>
        </div>
      </div>
    </div>
    
    <div class="d-flex mb-3">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoClienteModal">+ Nuevo Cliente</button>
      <button class="btn btn-success" (click)="exportarExcel()">XLS</button>
      <input 
        class="form-control w-25" 
        type="text" 
        placeholder="Buscar Cliente..." 
        [(ngModel)]="searchQuery" 
        (ngModelChange)="filterClientes()"
      />
    </div>

    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Cédula/RUC</th>
          <th>Razón Social / Nombre</th>
          <th>Tipo</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of paginatedClientes">

          <td>{{ cliente.cedula }}</td>
          <td>{{ cliente.nombre }}</td>
          <td><span class="badge" [ngClass]="cliente.tipo === 'Jurídica' ? 'bg-primary' : 'bg-warning'">{{ cliente.tipo }}</span></td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.correo }}</td>
          <td class="text-center">
            <div class="d-flex justify-content-center gap-2">
              <button class="btn btn-info btn-sm" (click)="editCliente(cliente)">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger btn-sm" (click)="deleteCliente(cliente)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between align-items-center mt-3">
  <div>


<nav>
  <ul class="pagination m-0">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link" (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">Anterior</button>
    </li>

    <li class="page-item" *ngFor="let page of paginationRange" [class.active]="currentPage === page">
      <button class="page-link" (click)="currentPage = page">{{ page }}</button>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link" (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">Siguiente</button>
    </li>
  </ul>
</nav>




<!-- Modal Nuevo cliente -->
<div class="modal fade" id="nuevoClienteModal" tabindex="-1" aria-labelledby="nuevoClienteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nuevoClienteModalLabel">Nuevo Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #nuevoClienteForm="ngForm" (ngSubmit)="addClient(nuevoClienteForm)">
          <!-- Cedula o RUC -->
          <div class="mb-3">
            <label for="cedula" class="form-label">Cédula/RUC</label>
            <input 
                  type="text" 
                  class="form-control" 
                  id="cedula" [(ngModel)]="nuevoCliente.cedula" 
                  name="cedula" required 
                  maxlength="13" 
                  pattern="^\d{10,13}$"
                  (keydown)="validateCedula($event)" 
                  #cedula="ngModel"
                   />
                   <div *ngIf="errorClienteExistente" class="text-danger"> {{ mensajeError }} </div>
                   <div *ngIf="cedula.invalid && cedula.touched" class="text-danger">
                          <div *ngIf="cedula.errors?.['required']">Este campo es obligatorio.</div>
                          <div *ngIf="cedula.errors?.['pattern']">La cédula debe tener entre 10 y 13 dígitos numéricos</div>
                          <div *ngIf="cedula.errors?.['minlength']">La cédula debe tener al menos 10 dígitos.</div>
                        </div>
          </div>
          <!-- Razón Social o nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label">Razón Social / Nombre</label>
            <input type="text" 
                    class="form-control" 
                    id="nombre" [(ngModel)]="nuevoCliente.nombre" 
                    name="nombre" 
                    required
                    maxlength="40"
                    pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ. ]+$"
                    (keydown)="validateName($event)"
                    #nombre="ngModel"
                     />
                     <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
                      <div *ngIf="nombre.errors?.['required']">Este campo es obligatorio.</div>
                    </div>
            </div>
             <!-- Número de Telefono -->
            <div class="mb-3">
              <label for="telefono" class="form-label">Teléfono</label>
              <input type="text" 
              class="form-control" 
              id="telefono" [(ngModel)]="nuevoCliente.telefono" 
              name="telefono" 
              required 
              maxlength="10"
              pattern="^[0-9]{10}$"
              (keydown)="validatePhone($event)"
              #telefono="ngModel"
              />
              <div *ngIf="telefono.invalid && telefono.touched" class="text-danger">
                <div *ngIf="telefono.errors?.['required']">Este campo es obligatorio.</div>
                <div *ngIf="telefono.errors?.['maxlength']">Teléfono debe tener 10 dígitos</div>
              </div>
            </div>
           <!-- Correo Electronico-->
          <div class="mb-3">
              <label for="correo" class="form-label">Correo</label>
                <input 
                  type="email" 
                  class="form-control" 
                  id="correo" 
                  [(ngModel)]="nuevoCliente.correo" 
                  name="correo" 
                  required
                  maxlength="50"
                  (keydown)="validateEmail($event)" 
                  #correo="ngModel"
                />
              <div *ngIf="correo.invalid && correo.touched" class="text-danger">
                <div *ngIf="correo.errors?.['required']">Este campo es obligatorio.</div>
              </div>
            </div>
           <!-- Juridica o natural-->
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-control" id="tipo" [(ngModel)]="nuevoCliente.tipo" name="tipo" required>
              <option value="" disabled selected>Seleccione un tipo...</option>
              <option value="Natural">Natural</option>
              <option value="Jurídica">Jurídica</option>
            </select>
          </div>
          <button type="submit" 
          class="btn btn-success w-100"
          [disabled]="!nuevoClienteForm.valid">
          Guardar
        </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Editar cliente -->
<div class="modal fade" id="editClientModal" tabindex="-1" aria-labelledby="editClientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editClientModalLabel">Editar Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateCliente()" #editClientForm="ngForm">
          <!-- Cédula/RUC -->
          <div class="mb-3">
            <label for="cedula" class="form-label">Cédula/RUC</label>
            <input type="text" 
                   class="form-control" 
                   id="cedula" 
                   [(ngModel)]="selectedCliente.cedula" 
                   name="cedula" 
                   disabled 
                   required 
                   maxlength="13" 
                   pattern="^\d{10,13}$"
                   (keydown)="validateCedula($event)"
                   #cedula="ngModel" />
            <div *ngIf="cedula.invalid && cedula.touched" class="text-danger">
              <div *ngIf="cedula.errors?.['required']">Este campo es obligatorio.</div>
              <div *ngIf="cedula.errors?.['pattern']">La cédula debe tener entre 10 y 13 dígitos numéricos</div>
            </div>
          </div>

          <!-- Razón Social o nombre -->
          <div class="mb-3">
            <label for="nombre" class="form-label">Razón Social / Nombre</label>
            <input type="text" 
                   class="form-control" 
                   id="nombre" 
                   [(ngModel)]="selectedCliente.nombre" 
                   name="nombre" 
                   required
                   maxlength="40"
                   pattern="^[a-zA-ZáéíóúÁÉÍÓÚñÑ. ]+$"
                   (keydown)="validateName($event)"
                   #nombre="ngModel" />
            <div *ngIf="nombre.invalid && nombre.touched" class="text-danger">
              <div *ngIf="nombre.errors?.['required']">Este campo es obligatorio.</div>
            </div>
          </div>

          <!-- Número de Teléfono -->
          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" 
                   class="form-control" 
                   id="telefono" 
                   [(ngModel)]="selectedCliente.telefono" 
                   name="telefono" 
                   required 
                   maxlength="10"
                   pattern="^[0-9]{10}$"
                   (keydown)="validatePhone($event)"
                   #telefono="ngModel" />
            <div *ngIf="telefono.invalid && telefono.touched" class="text-danger">
              <div *ngIf="telefono.errors?.['required']">Este campo es obligatorio.</div>
              <div *ngIf="telefono.errors?.['maxlength']">Teléfono debe tener 10 dígitos</div>
            </div>
          </div>

          <!-- Correo Electrónico -->
          <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" 
                   class="form-control" 
                   id="correo" 
                   [(ngModel)]="selectedCliente.correo" 
                   name="correo" 
                   required 
                   maxlength="50"
                   (keydown)="validateEmail($event)"
                   #correo="ngModel" />
            <div *ngIf="correo.invalid && correo.touched" class="text-danger">
              <div *ngIf="correo.errors?.['required']">Este campo es obligatorio.</div>
            </div>
          </div>

          <!-- Tipo -->
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-select" 
                    id="tipo" 
                    [(ngModel)]="selectedCliente.tipo" 
                    name="tipo" 
                    required>
              <option value="Natural">Natural</option>
              <option value="Jurídica">Jurídica</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!editClientForm.valid">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Modal de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Datos del Cliente</h5>
      </div>
      <div class="modal-body text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill animate-check" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        <h4>Cliente Guardado Exitosamente</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de confirmación para eliminar cliente -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header "  style="background-color: #f47c00;">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body text-center">
        <p>¿Está seguro de que desea eliminar a este cliente?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-si" (click)="confirmDelete()">Sí</button>
        <button type="button" class="btn btn-no" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de eliminado -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Cliente Eliminado</h5>
      </div>
      <div class="modal-body text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill animate-check" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        <h4>Cliente Eliminado con Éxito</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>