<app-sidebar></app-sidebar>

<div class="content">
  <div class="container mt-5">
    <h2 class="text-center mb-4">Gestión de Clientes</h2>

    <div class="d-flex mb-3">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoClienteModal">+ Nuevo Cliente</button>
      <button class="btn btn-success">XLS</button>
      <input 
        class="form-control w-25" 
        type="text" 
        placeholder="Buscar Cliente..." 
        [(ngModel)]="searchQuery" 
        (ngModelChange)="filterClientes()"
      />
    </div>

    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Cédula/RUC</th>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of filteredClientes">
          <td>{{ cliente.cedula }}</td>
          <td>{{ cliente.nombre }}</td>
          <td><span class="badge" [ngClass]="cliente.tipo === 'Fijo' ? 'bg-primary' : 'bg-warning'">{{ cliente.tipo }}</span></td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.correo }}</td>
          <td>
            <button class="btn btn-info btn-sm" (click)="editCliente(cliente)">
              <i class="fas fa-edit"></i></button>
            <button class="btn btn-danger btn-sm" (click)="deleteCliente(cliente)">
              <i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Nuevo cliente -->
<div class="modal fade" id="nuevoClienteModal" tabindex="-1" aria-labelledby="nuevoClienteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="nuevoClienteModalLabel">Nuevo Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addClient()" #nuevoClienteForm="ngForm">
          <div class="mb-3">
            <label for="cedula" class="form-label">Cédula/RUC</label>
            <input type="text" class="form-control" id="cedula" [(ngModel)]="nuevoCliente.cedula" name="cedula" required />
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoCliente.nombre" name="nombre" required />
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="telefono" [(ngModel)]="nuevoCliente.telefono" name="telefono" required />
          </div>
          <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="correo" [(ngModel)]="nuevoCliente.correo" name="correo" required />
          </div>
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-control" id="tipo" [(ngModel)]="nuevoCliente.tipo" name="tipo" required>
              <option value="" disabled selected>Seleccione un tipo...</option>
              <option value="Fijo">Fijo</option>
              <option value="Ocasional">Ocasional</option>
            </select>
          </div>
          <button type="submit" class="btn btn-success w-100">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Editar cliente -->
<div class="modal fade" id="editClientModal" tabindex="-1" aria-labelledby="editClientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="editClientModalLabel">Editar Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateCliente()" #editClientForm="ngForm">
          <div class="mb-3">
            <label for="cedula" class="form-label">Cédula/RUC</label>
            <input type="text" class="form-control" disabled="cedula" id="cedula" [(ngModel)]="selectedCliente.cedula" name="cedula" required />
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" [(ngModel)]="selectedCliente.nombre" name="nombre" required />
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="telefono" [(ngModel)]="selectedCliente.telefono" name="telefono" required />
          </div>
          <div class="mb-3">
            <label for="correo" class="form-label">Correo</label>
            <input type="email" class="form-control" id="correo" [(ngModel)]="selectedCliente.correo" name="correo" required />
          </div>
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-control" id="tipo" [(ngModel)]="selectedCliente.tipo" name="tipo" required>
              <option value="Fijo">Fijo</option>
              <option value="Ocasional">Ocasional</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal de éxito -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Datos del Cliente</h5>
      </div>
      <div class="modal-body text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
          <path d="M16 8a8 8 0 1 1-8-8 8 8 0 0 1 8 8zM7.293 5.293a1 1 0 0 0-1.414 0L4 7.586 5.707 9.293l1.414-1.414L9 6.707l2.707 2.707 1.414-1.414L8 4l-3.707 3.707z"/>
        </svg>
        <h4>Cliente Guardado Exitosamente</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de eliminado -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Cliente Eliminado</h5>
      </div>
      <div class="modal-body text-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
          <path d="M16 8a8 8 0 1 1-8-8 8 8 0 0 1 8 8zM7.293 5.293a1 1 0 0 0-1.414 0L4 7.586 5.707 9.293l1.414-1.414L9 6.707l2.707 2.707 1.414-1.414L8 4l-3.707 3.707z"/>
        </svg>
        <h4>Cliente Eliminado con Éxito</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>